.navbar{
    background-color: rgb(34 211 238);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    margin-top: 5vh;
    font-size: 26px;
    font-weight: bold;
    gap: 15vw;
    
}

a{
    text-decoration: none;
    color: white;

}

a:hover{
    color: gray;
}

li{
    list-style-type: none;
}
